.lid-container {
  position: relative;
  perspective: 800px;

  .lid-top {
    height: 12rem;
    width: 32rem;
    background-color: #010101;
    border-radius: 1rem;
    padding: 0.5rem;
    position: relative;
    transform: perspective(800px) rotateX(-25deg) translateZ(0);
    transform-origin: bottom;
    transform-style: preserve-3d;

    .lid-inner {
      position: absolute;
      inset: 0;
      background-color: #010101;
      border-radius: 0.5rem;
      box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.9) inset;
      display: flex;
      align-items: center;
      justify-content: center;

      .apple-logo {
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
      }
    }
  }

  .lid-screen {
    height: 24rem;
    width: 32rem;
    position: absolute;
    inset: 0;
    background-color: #010101;
    border-radius: 1rem;
    padding: 0.5rem;

    .screen-inner {
      position: absolute;
      inset: 0;
      background-color: #272729;
      border-radius: 0.5rem;
    }

    .screen-content {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      // object-fit: cover;
      object-position: left top;
      border-radius: 0.5rem;
    }
  }
}
